.gif-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        text-align: center;
        background: $dark-blue;
        color: $light-gray;
        width: 50%;
        margin: 45px auto 0px auto;
        padding: 15px 30px;
        border-radius: 3px;
    }
}

.gif-box{
    padding-top:20px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gif-container img{
    margin:20px;
    width:300px;
    height:300px;
    box-shadow: 10px 10px 0 black;
    cursor: pointer;

    &:hover {
        border: 2px solid $yellow;
    }
}

.save-button {
    margin: 0 auto;
}


@media(max-width:400px) {
    .gif-container img{
        width:200px;
        height:200px;
        
    }

    
}