.highlights {
   
   .saved-snapshot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $dark-blue;
      border-radius: 10px;
      margin: 40px 0;
      padding: 15px;

      button {
         align-self: center;
      }
   }
   
   h2 {
      text-align: center;
      color: $black;
      background: $aqua;
      padding: 10px 20px;
      border-radius: 5px;
      margin-top: 0;
      width: 75%;
   }

   .display-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .gif-container img {
      width: 200px;
      height: 200px;
      cursor: default;

      &:hover {
         border: none;
      }
   }
}


